body {
  background: #202020;
  color: #fff;
  font-family: Arial;
}

.container {
    padding: 20px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
}

.modal-backdrop {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background-color: rgba(0,0,0,0.5);
  display:flex; justify-content:center; align-items:center;
  z-index:1000;
}

.modal-content {
    background-color:#ffffff43;
    padding:1.5rem;
    border-radius:8px;
    max-width:90%;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    color: black
}


input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.btn {
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: black;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

.popup {
  margin-top: 15px;
  padding: 10px;
  background: #444;
  border-radius: 8px;
}

.btn:hover {
  background-color: #0056b3;
}


select {
  width: 100%;
  margin-bottom: 10px;
  height: 20%;
  color: black;
}

label {
  margin-bottom: 5px;
  display: block;
}